<!DOCTYPE html>
<html lang="en">
<head>
      <style>
        body{
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
        }
        #1{
            align-items: ;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
   
    <h1>Login</h1>

    <% if (locals.error) { %>
<p><%= error %></p>     
    <% } %>
    <form action="/user/login" method="post">
 
        <label id="2" for="">Email</label>
        <input id="2" type="text" placeholder="example@gmail.com" name="email">
        <label id="3" for="">Password</label>
        <input id="3" type="text" placeholder="Enter password" name="password">

        <button type="submit">Login</button>
    </form>
</body>
</html>