<!DOCTYPE html>
<html lang="en">
<head>
      <style>
        body{
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;

        }
      
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
   
    <h1>SignUp</h1>
    <form action="/user" method="post">
        <label id="1" for="">Name</label>
        <input id="1" type="text" placeholder="Enter name" name="name">
        <label id="2" for="">Email</label>
        <input id="2" type="text" placeholder="example@gmail.com" name="email">
        <label id="3" for="">Password</label>
        <input id="3" type="text" placeholder="Enter password" name="password">

        <button type="submit">SignUp</button>
    </form>
</body>
</html>